<form action="/landmarks/<%=@landmark.id%>" method="post">
   <input type="hidden" id="hidden" name="_method" value="patch">
   <label for="landmark[name]">Name:</label>
   <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>">
   <label for="landmark[year_completed]">Year Completed:</label>
   <input type="text" name="landmark[year_completed]" value="<%=@landmark.year_completed.to_s%>" id="year_completed">
   <input type="submit" name="" value="Edit Landmark">
</form>