<h1>Create A New Landmark</h1>

<form action="/landmarks" method="POST">
  <label for="landmark_name">Landmark Name:</label>
  
  <input type="text" name="landmark[name]" id="landmark_name">
  
  <br></br>

  <label for="landmark_year_completed"> Year Completed:</label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">

 
  
  <input type="submit" value="Create New Landmark">
</form>

